
  
   
   .Login {  background-color: #eee;
      position: absolute;
      top: 30%;
      left: 35%;
      width: 37%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;  
      
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  
  .input{
    background: #f8f8f8;
    
    width:  100%;
    border: none;
    outline: none;
    margin: 13px 26px;
    font-size: 17px;
    padding: 15px 11px;

  }

  .button{ cursor: pointer;
    width: 10cm;
   height: 50px;
    margin: 12px 11px;
    padding: 6px;
    vertical-align: middle;
    background: #de995e;
    border: none;
    
    font-size: 16px;
    font-weight: 300;
    
    color: #fff;
    border-radius: 4px;
  }
  h1{
    font-size: 35px;
  }
